header {
  width: 100%;
  height: 100px;
  background-color: #000000;
  color: #c9b5b5;
  box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.7);
  justify-content: center;
  
  
  ul {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    li {
      margin-right: 24px;
      a {
        padding: 24px;
        font-size: 20px;
        font-weight: 700;
        transition: all ease-in-out 0.3s;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
